{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} 聿德慈航</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    {% block custom_css %}

    {% endblock custom_css %}
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    {% include 'includes/header.html' %}
    
    <!-- Sidebar menu-->
    {% include 'includes/sidebar.html' %}
    
    {% block main_content %}

    {% endblock main_content %}
    
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <!-- Page specific javascripts-->
    <!-- <script type="text/javascript" src="{% static 'js/plugins/chart.js' %}"></script> -->
    <script type="text/javascript">
    
      /*
    * Constant definition (pseudo enumeration type)
    */
    
    // Correspondence between data array and column order
    let Columns = {
      "id": 0,
      // "nId_person": 1,
      // "nAge": 2,
    }
    
    /*
    * jQuery
    */
    $(document).ready(function () {
    
      /*
       * DataTables settings
       */
    
      let table = $('#datatable').DataTable({
          // Ajax settings
          processing: true,
          serverSide: true,
          ajax: "./{{s}}",
          // View settings
          // dom: "tp",    
          // lengthMenu: List of the number of items to be displayed on one page
          // https://datatables.net/reference/option/lengthMenu
          lengthMenu: [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
          // pageLength: Initial value of pageLength
          // https://datatables.net/reference/option/pageLength
          pageLength: 5,
          order: [Columns.id, "desc"],   // Update id newest
    
          // Column settings
          columns: [
    
              // 「className: "none",」Columns defined as are displayed in the detail row
              //  Sequence By JsonView
              {
                  // column 1 id (Hide)
                  title: "&nbsp;",
                  visible: false,
                  // title: "id",
                  // className: "none",
              },
              {
                  // column 3 nId_person
                  title: "รหัส",
                  className: "none",
              },
              {
                  // column 2 cFname
                  title: "ชื่อ-นามสกุล",
                  orderable: false,
              },
              {
                  // column 4 cGender
                  title: "เพศ",
                  className: "none",
              },
              {
                  // column 5 nAge
                  title: "อายุ",
                  className: "none",
              },
              {
                  // column cPro
                  title: "อ.ถ่ายทอดเบิกธรรม",
                  className: "none",
              },
              {
                  // column dDate
                  title: "วันรับธรรมะ",
                        render: function(data, type, full, meta){
                          if(type == "display"){
                                  var date = new Date(data);
                                  var options = {year: "numeric", month: "long", day: "numeric"};
                                  return date.toLocaleDateString('th-TH', options); 
                          }
                          return data;
                        },
                  className: "none",
              },            
              // {
              //     // column cRec
              //     title: "อ.แนะนำ",
              //     className: "none",
              // },
              
              // {
              //     // column cSup
              //     title: "อ.รับรอง",
              //     className: "none",
              // },
              {
                title: "เครื่องมือ",  
                data: 0 ,
                render: function(data, type, full) {
                  return '<a class="btn btn-warning btn-sm" href={{id_room}}/' + full[0] + '>' + 'Edit' + '</a>'
                        + '<a class="btn btn-danger btn-sm ml-3" href=delete/{{id_room}}/' + full[0] + '>' + 'Delete' + '</a>';
                  },
              },            
          ],
      });
    });
    
    </script>
    {% block custom_js %}

    {% endblock custom_js %}
  </body>
</html>