{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} 聿德慈航</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    {% block custom_css %}

    {% endblock custom_css %}
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    {% include 'includes/header.html' %}
    
    <!-- Sidebar menu-->
    {% include 'includes/sidebar.html' %}
    
    {% block main_content %}

    {% endblock main_content %}
    <!-- Essential javascripts for application to work-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <!-- Page specific javascripts-->
    <!-- <script type="text/javascript" src="{% static 'js/plugins/chart.js' %}"></script> -->
    <!-- base_all -->
    <script type="text/javascript">
      $(document).ready(function () {
      
          // Selected record id
          let selected = [];
      
          // DataTables settings
          // https://datatables.net/reference/index
          let table = $('#datatable').DataTable({
      
              // Server-side processing: Ajax mode setting
              // https://datatables.net/examples/server_side/simple.html
              processing: true,
              serverSide: true,
              {% if user.user_type == "Admin" %}
              ajax: "./tablealls",
              {% elif user.user_type == "Bkk1" %}
              ajax: "./bkk1s",
              {% elif user.user_type == "Skw1" %}
              ajax: "./skw1s",
              {% elif user.user_type == "Skw3" %}
              ajax: "./skw3s",
              {% endif %}
              // dom: Arrangement of various widgets such as search fields
              // https://datatables.net/reference/option/dom
              // dom: 'lfrtip',
      
              // lengthMenu: List of the number of items to be displayed on one page
              // https://datatables.net/reference/option/lengthMenu
              lengthMenu: [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
      
              // pageLength: Initial value of pageLength
              // https://datatables.net/reference/option/pageLength
              pageLength: 5,    
      
              // rowCallback: Used when you want to perform additional processing when drawing a row
              // https://datatables.net/reference/option/rowCallback
      
              // The display of the selected line is changed at the time of page transition
              rowCallback: function (row, data) {
                  $(row).attr('data-id', data[0]);
                  if ($.inArray(data[0], selected) !== -1) {
                      $(row).addClass('selected');
                  }
              },
      
              // columns: Column settings
              // https://datatables.net/reference/option/columns
      
              // Columns are set with'columns' or'columnDefs'.
              // columns Is a more verbose description, but I feel that the visibility is good
      
              // Fields are assigned to columns in the order in which the BaseDatatableView columns are set
              // Note that an error will occur if the number of columns is less than the number of fields in columns
      
              // If you want to change the contents of columns and the actual column display, you can use the following options
      
              // visible: bool    Show / hide columns
              // data: number     Display data in different columns
              // render: function Process data with functions
      
              // You can also use data from other columns in the render
              // https://datatables.net/manual/data/renderers
      
              columns: [
                  {
                      // 1 column (id)
                      title: "&nbsp;",
                      className: 'select-checkbox',
                      searchable: false,
                      render: function () {
                          return "";
                      },
                  },
                  {
                      // 2 column
                      title: "รหัส",
                  },
                  {
                      // 3 column
                      title: "เพศ",
                  },
                  {
                      // 4 column
                      title: "ชื่อ-นามสกุล",
                      render: function (data, type, row, full) {
                            return '<a href=tableall/' + row[0] + '>' + data + '</a>';
                        },
                  },
                  {
                      // 5 column
                      title: "อายุ",
                  },
                  {
                      // 6 column
                      title: "สถานธรรม",
                      // google map
                      // http://www.shurey.com/html/googlemaps.html
                      // render: function (data, type, row) {
                      //     return '<a target="_blank" href="https://maps.google.co.jp/maps?q=' + row[1] + data + '">' + data + '</a>';
                      // },
                  },
                  {
                      // 7 column
                      title: "วันรับธรรมะ",
                        render: function(data, type, full, meta){
                          if(type == "display"){
                                  var date = new Date(data);
                                  var options = {year: "numeric", month: "long", day: "numeric"};
                                  return date.toLocaleDateString('th-TH', options); 
                          }
                          return data;
                        }
                  },
                  {
                      // 8 column
                      title: "เตี่ยนฉวนซือ",
                  },
                  {
                      // 9 column
                      title: "อ.แนะนำ",
                  },
                  
              ],
          });
      
      
          // When using server-side, extension selection (Select) cannot be used, so DataTables official
          // Create your own selection process based on the sample code
          // https://datatables.net/examples/server_side/select_rows.html
          $('#datatable tbody').on('click', 'tr', function () {
      
              let id = $(this).attr('data-id');
              let index = $.inArray(id, selected);
      
              if (index === -1) {
      
                  selected.push(id);
                  selected.sort(function (a, b) {
                      return a - b
                  });
                  $(this).addClass('selected');
              } else {
                  selected.splice(index, 1);
                  $(this).removeClass('selected');
              }
              $('#selected').html(selected.join(','));
          });
      
          // Sample: Get the data of the clicked record
          // Data () can be used to get data for cells, rows, and the entire table being displayed
          // https://datatables.net/reference/api/row().data()
      
          $('#datatable tbody').on('click', 'tr', function () {
              console.log(table.row(this).data());
          });
      
          // Deselect all
          $('#clear').on('click', function () {
              selected = [];
              $('#datatable tr').removeClass('selected');
              $('#selected').html(selected.join(','));
          });
      
          // Print / Excel / CSV button click
          $('.report').on('click', function () {
      
              if (selected.length == 0) {
                  alert('Please select the data first');
                  return false;
              }
      
              // Store the selected id in the hidden form and send it to the Web API of each function
              let form = $("#form")[0];
              $("*[name=id_list]").val(selected.join('_'));
              form.method = 'GET';
      
              // Note the length limit of GET queries. This code does not take into account the selection of large numbers
              // https://support.microsoft.com/ja-jp/help/208427/maximum-url-length-is-2-083-characters-in-internet-explorer
      
              // Processing judgment by button id
              switch (this.id) {
                  case
                  'print':
                      // Open a separate window for printing only
                      window.open('', 'new_window');
                      form.action = 'print';
                      form.target = 'new_window';
                      form.submit();
                      break;
                  case
                  'excel':
                      form.action = 'excel';
                      form.submit();
                      break;
                  case
                  'csv':
                      form.action = 'csv';
                      form.submit();
                      break;
              }
          });
      });
    </script>

    {% block custom_js %}

    {% endblock custom_js %}
  </body>
</html>