{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n thaidate %}

{% block custom_css %}
<!-- Main CSS-->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.bootstrap4.min.css"> -->
<!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" /> -->
<!-- App css -->
<!-- <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" type="text/css" /> -->
<!-- third party css -->
<link href="{% static 'datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'datatables/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'datatables/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'datatables/select.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<!-- XDSoft DateTimePicker -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" /> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script> -->
<style>
    
</style>
{% endblock custom_css %}
{% block main_content %}
<main class="app-content">
    <div class="app-title">
        <div class="col-md-12">
          <div class="float-right mt-1">
              <a href="tableall"><i class="fa fa-close" style="font-size:18px"></i>
              </a>                        
          </div>
          <h4><i class="fa fa-edit"></i>
             แบบฟอร์ม ค้นหาข้อมูล บุคลากร รวม
          </h4>
        </div>
    </div>
    
    <!-- Navs-->
    <div class="tile mb-4">
        <div class="row">
            <div class="col-lg-12">
            <div class="page-header">
                <h4 class="mb-3 line-head" id="navs">
                    ค้นหาข้อมูล บุคลากร รวม
                    <!-- &nbsp;
                    {% if date_min %}
                        ตั้งแต่ 
                        {% language 'th' %}
                        {{ date_min|thaidate:"d F Y" }}
                        {% endlanguage %}&nbsp;                                
                        ถึง 
                        {% language 'th' %}
                        {{ date_max|thaidate:"d F Y" }}
                        {% endlanguage %}&nbsp;
                    {% else %}                      
                        {{ "" }}
                    {% endif %} -->
                </h4>
            </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem;">
            <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tile">
                                <a href="table_filter"  type="button" class="btn btn-success ml-2"><i class="fa fa-history"></i> Reset</a>
                                <a href="tableall" class="btn btn-danger" style="float: right;"><i class="fa fa-times"></i> Close</a>
                            </div>
                        </div>
                    </div>
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                        <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>เพศ</th>
                                <th>ชื่อ-นามสกุล</th>
                                <th>อายุ</th>
                                <th>สถานธรรม</th>
                                <th>วันรับธรรมะ</th>
                                <th>เตี่ยนฉวนซือ</th>
                                <th>อ.แนะนำ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qs in queryset %}
                              <tr>
                                <td>{{ qs.nId_person }}</td>
                                <td>{{ qs.cGender }}</td>
                                <td>{{ qs.cFname }}</td>
                                <td>{{ qs.nAge }}</td>
                                <td>{{ qs.cRoom }}</td>
                                <td>
                                  {% language 'th' %}
                                    {{ qs.dDate|thaidate:"D d F Y" }}
                                  {% endlanguage %}
                                </td>
                                <td>{{ qs.cPro }}</td>
                                <td>{{ qs.cSup }}</td>
                              </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main_content %}
{% block custom_js %}
<!-- Page specific javascripts-->
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/plugins/select2.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/plugins/dropzone.js' %}"></script>
<!-- third party js -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.js' %}"></script>
<!-- <script src="assets/libsdataTables.responsive.min.js"></script> -->
<!-- <script src="assets/libs/datatables/responsive.bootstrap4.min.js"></script> -->
<script src="{% static 'datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'datatables/jszip.min.js' %}"></script>
<!-- <script src="assets/libs/datatables/dataTables.keyTable.min.js"></script> -->
<!-- <script src="assets/libs/datatables/dataTables.select.min.js"></script> -->
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script>
    $('#demoSelect').select2({ width: '100%' });
    $('#demoSelect1').select2({ width: '100%' });
    $('#demoSelect2').select2({ width: '100%' });
    $('#demoSelect3').select2({ width: '100%' });
    $('#demoSelect4').select2({ width: '100%' });
    $('#demoSelect5').select2({ width: '100%' });
    pdfMake.fonts = {
        THSarabun: {
        normal: 'THSarabun.ttf',
        bold: 'THSarabun-Bold.ttf',
        italics: 'THSarabun-Italic.ttf',
        bolditalics: 'THSarabun-BoldItalic.ttf'
        }
    };
</script>
    
<script>
    $(document).ready(function() {
          var table = $('#example').DataTable( {
              //   lengthChange: false,
              // searching: false,
              dom: "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
              "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            // dom: 'Bfrtip',
            //   order: [[2, "asc"]], // เรียง คอลัมน์ที่ 3 น้อย ไป มาก
            //   aoColumns: [
            //       null,
            //       null,
            //       { "sType": "date-uk" },
            //       { "sType": "date-uk" },
            //       null,
            //       null,
            //       null,
            //       null
            //   ],
            //   columnDefs: [ // ซ่อน คอลัมน์ที่ 3
            //       {
            //           "targets": [ 2 ],
            //           "visible": false,
            //           "searchable": false
            //       },
            //   ],
              lengthMenu: [[5, 10, 50, 100, -1], [5, 10, 50, 100, "All"]],
              pageLength: 5,
              
              buttons: [ 
                {  
                extend: 'copy',
                title: 'ปฎิทินธรรมกิจ',       
                className: 'btn btn-dark rounded-0',  
                text: '<i class="fa fa-copy"></i> Copy',
                exportOptions: {
                    columns: [ 0, 1, 3, 4, 5, 6,7 ] // เอาคอลัมน์ที่ 2 (Date) ออก
                  },
                }, // สิ้นสุดกำหนดพิเศษปุ่ม copy
                { // กำหนดพิเศษเฉพาะปุ่ม excel
                extend: 'excel',
                title: 'ปฎิทินธรรมกิจ',     
                className: 'btn btn-success rounded-0',
                text: '<i class="fa fa-file-excel-o"></i> Excel', 
                exportOptions: {
                    columns: [ 0, 1, 3, 4, 5, 6,7 ] // เอาคอลัมน์ที่ 2 (Date) ออก
                  },
                }, // สิ้นสุดกำหนดพิเศษปุ่ม excel 
                { // กำหนดพิเศษเฉพาะปุ่ม pdf
                extend: 'pdf', // ปุ่มสร้าง pdf ไฟล์ 
                title: 'ปฎิทินธรรมกิจ',               
                className: 'btn btn-info rounded-0',
                text: '<i class="fa fa-file-pdf-o"></i> PDF', // ข้อความที่แสดง
                pageSize: 'A4',   // ขนาดหน้ากระดาษเป็น A4            
                customize:function(doc){ // ส่วนกำหนดเพิ่มเติม ส่วนนี้จะใช้จัดการกับ pdfmake
                    // กำหนด style หลัก
                    doc.defaultStyle = {
                        font:'THSarabun',
                        fontSize:16                                 
                    };
                    // กำหนดความกว้างของ header แต่ละคอลัมน์หัวข้อ ต้องเท่ากับจำนวนคอลัมน์ สำคัญมาก!!!!!!!
                    doc.content[1].table.widths = [ 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ];
                    doc.styles.tableHeader.fontSize = 14; // กำหนดขนาด font ของ header
                    var rowCount = doc.content[1].table.body.length; // หาจำนวนแถวทั้งหมดในตาราง
                    // วนลูปเพื่อกำหนดค่าแต่ละคอลัมน์ เช่นการจัดตำแหน่ง
                    for (i = 1; i < rowCount; i++) { // i เริ่มที่ 1 เพราะ i แรกเป็นแถวของหัวข้อ
                        doc.content[1].table.body[i][0].alignment = 'center'; // คอลัมน์แรกเริ่มที่ 0
                        doc.content[1].table.body[i][1].alignment = 'left';
                        doc.content[1].table.body[i][2].alignment = 'left';
                        doc.content[1].table.body[i][3].alignment = 'left';
                        doc.content[1].table.body[i][4].alignment = 'left';
                        doc.content[1].table.body[i][5].alignment = 'left';
                    };                                  
                    console.log(doc); // เอาไว้ debug ดู doc object proptery เพื่ออ้างอิงเพิ่มเติม
                },                  
                exportOptions: {
                  columns: [ 0, 1, 2, 3, 4, 5 ] // เอาคอลัมน์ที่ 2 (Date) ออก
                }, 
                }, // สิ้นสุดกำหนดพิเศษปุ่ม pdf
                { // กำหนดพิเศษเฉพาะปุ่ม print
                extend: 'print',
                title: '',              
                className: 'btn btn-warning rounded-0',
                text: '<i class="fa fa-print"></i> Print', // ข้อความที่แสดง
                exportOptions: {
                    columns: [ 0, 1, 3, 4, 5, 6,7 ] // เอาคอลัมน์ที่ 2 (Date) ออก
                  },
                }, // สิ้นสุดกำหนดพิเศษปุ่ม print
                // 'pageLength' // กำหนดจำนวนหน้าที่ ให้แสดง              
                ],
              
          } );
      
          table.buttons().container()
              .appendTo( '#example_wrapper .col-md-6:eq(0)' );
      });
    </script>
    


{% endblock custom_js %}