{% extends 'layouts/base_n.html' %}
{% load static %}

{% block title %} {{header}} | {% endblock title %}

{% block main_content %}

{% load i18n thaidate %}

<main class="app-content">
  <div class="app-title">
    <div>
      <!-- <h1><i class="fa fa-address-card"></i> ระบบฐานข้อมูลกลาง</h1> -->
      <!-- <p>สำหรับ เพิ่มผู้ใช้งาน</p> -->
      {% if next_nId_person %}
      <h5>สถานธรรม {{ header }} -- ญาติธรรมใหม่รหัสต่อไป: {{next_nId_person}}</h5>
      {% else %}
      <h5>สถานธรรม {{ header }} </h5>
      {% endif %}
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <!-- <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li> -->
      <!-- <li class="breadcrumb-item"><a href="{% url 'add_staff' %}">เพิ่มผู้ใช้งาน</a></li> -->
      <li class="nav-item">
        <a class="btn btn-outline-secondary" href="/{{id_room}}"><i class="fa fa-mail-reply" style="font-size:20px"></i> Back to list</a>
      </li>
    </ul>
  </div>
    <!-- <ul class="app-breadcrumb breadcrumb"> -->
      <!-- <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li> -->
      <!-- <li class="breadcrumb-item"><a href="{% url 'add_staff' %}">เพิ่มผู้ใช้งาน</a></li> -->
      <!-- <li class="nav-item"> -->
        <!-- <a class="btn btn-outline-secondary" href="{% url 'tableall' %}" >Close</a> -->
    <!-- </li> -->
    <!-- </ul> -->
  </div>
  <div class="container-fluid">
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
      <form action="" method="post" autocomplete="off">
            {% csrf_token %}  
          <div class="col-lg-12 col-md-12 col-sm-12">
                      
              
              <div class="">
                  <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#detail-1">ข้อมูล-1</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#detail-2">ข้อมูล-2</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#detail-3">ข้อมูล-3</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#detail-4">หมายเหตุ</a>
                          </li>
                      </ul>
                  </div>
                  <div class="tab-content card-body">
                      <div id="detail-1" class="tab-pane active">
                        <div class="row mb-3">
                          <input type="hidden" name="nId_person" value="{{ next_nId_person }}">
                          <div class="col-md-2" style="display: none;">
                            {% if next_nId_person %}
                              {{" "}}
                            {% else %}
                              {{form.nId_person}}
                            {% endif %}
                          </div>
                          <div class="col-md-2">
                            <label for="cGender"> เพศ</label>

                            <select  class="form-control" name="cGender">
                              {% for gender in s_allgender %}
                                {% if gender.gname == s_Gender %}
                                <option value="{{ gender.gname }}" selected>{{ gender.gname }}</option>
                                {% else %}
                                <option value="{{ gender.gname }}">{{ gender.gname }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>

                              
                          </div>
                          <div class="col-md-3">
                            {% if s_cbDd == True %}
                              <label for="cFname" style="color: red;"> ชื่อ-นามสกุล (เสียชีวิต)</label>                      
                              {{form.cFname}}
                            {% else %}
                              <label for="cFname"> ชื่อ-นามสกุล</label>                      
                              {{form.cFname}}
                            {% endif %} 
                          </div>
                          <div class="col-md-2">
                            <label for="cName"> ชื่อจีน</label>
                            {{form.cName}}  
                          </div>
                          <div class="col-md-2">
                            <label for="nAge"> อายุ</label>
                            {{form.nAge}}  
                          </div>
                          <div class="col-md-3">
                            <label for="dDate">วันรับธรรมะ --
                              {% language 'th' %}
                              {{ dDate|thaidate:"l, d F Y" }}
                              {% endlanguage %}
                            </label>                            
                            <div class="input-group-append"></div>
                            <input id="datepicker" {{form.dDate}}
                          </div>

                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <label for="cDate_dc"> วันรับธรรมะ (จีน)</label>
                            {% if next_nId_person %}
                            <button type="submit" class="btn btn-warning btn-block"><i class='fa fa-language'  style="font-size:20px"></i>
                              Get Lunar Date</button>                             
                            {% else %}
                              {{form.cDate_dc}}
                            {% endif %}                           
                          </div>
                          <div class="col-md-2">
                            <label for="cLevel"> ธรรมวุฒิ</label>                            

                            <select  class="form-control" name="cLevel">
                              {% for level in s_alllevel %}
                                {% if level.lname == s_Level %}
                                <option value="{{ level.lname }}" selected>{{ level.lname }}</option>
                                {% else %}
                                <option value="{{ level.lname }}">{{ level.lname }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                                              
                          </div>
                          <div class="col-md-3">
                            <label for="cPro"> อ.ถ่ายทอดเบิกธรรม</label>                           

                            <select  class="form-control" name="cPro">
                              {% for pro in s_allpro %}
                                {% if pro.pname == s_Pro %}
                                <option value="{{ pro.pname }}" selected>{{ pro.pname }}</option>
                                {% else %}
                                <option value="{{ pro.pname }}">{{ pro.pname }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                           
                          </div>
                          <div class="col-md-2">
                            <label for="cEdu"> การศีกษา</label>                          

                            <select  class="form-control" name="cEdu">
                              {% for edu in s_alledu %}
                                {% if edu.ename == s_Edu %}
                                <option value="{{ edu.ename }}" selected>{{ edu.ename }}</option>
                                {% else %}
                                <option value="{{ edu.ename }}">{{ edu.ename }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>

                          </div>
                          <div class="col-md-2">
                            <label for="cCareer"> อาชีพ</label>                          

                            <select  class="form-control" name="cCareer">
                              {% for career in s_allcareer %}
                                {% if career.cname == s_Career %}
                                <option value="{{ career.cname }}" selected>{{ career.cname }}</option>
                                {% else %}
                                <option value="{{ career.cname }}">{{ career.cname }}</option>
                                {% endif %}
                              {% endfor %}
                            </select>

                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <label for="cRoom"> พุทธสถาน</label>
                            {{form.cRoom}}                   
                          </div>
                          <div class="col-md-3">
                            <label for="cRec"> อ.แนะนำ</label>
                            {{form.cRec}}  
                          </div>
                          <div class="col-md-3">
                            <label for="cSup"> อ.รับรอง</label>
                            {{form.cSup}}                   
                          </div>
                          <div class="col-md-3">
                            <label for="cHtel"> โทรศัพท์บ้าน</label>
                            {{form.cHtel}}  
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-9">
                            <label for="cAddress"> ที่อยู่</label>
                            {{form.cAddress}}  
                          </div>
                          <div class="col-md-3">
                            <label for="cMtel"> โทรศัพท์มือถือ</label>
                            {{form.cMtel}}                   
                          </div>
                        </div>
                      </div>
                      <!-- Datail-2 -->
                      <div id="detail-2" class="tab-pane">                      
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" id="cb3d" name="cb3d"{{ form.cb3d }} ผ่าน
                              <label for="c3dd"> ชั้น 3 วัน (ว/ด/ป)</label>
                              {{form.c3dd}}
                          </div>
                          <div class="col-md-3">
                            <label for="c3dl"> สถานธรรม</label>
                            {{form.c3dl}}  
                          </div>
                          <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" id="cbM" name="cbM"{{ form.cbM }} ผ่าน
                            <label for="cMd"> ชั้น หมิงเต๋อ (ว/ด/ป)</label>
                            {{form.cMd}}  
                          </div>
                          <div class="col-md-3">
                            <label for="cMl}"> สถานธรรม</label>
                            {{form.cMl}}                   
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" id="cbS" name="cbS"{{ form.cbS }} ผ่าน
                            <label for="cSd"> ชั้น ซินหมิน</label>
                            {{form.cSd}}  
                          </div>
                          <div class="col-md-3">
                            <label for="cSl"> สถานธรรม</label>
                            {{form.cSl}}  
                          </div>
                          <div class="col-md-3">
                            <input class="form-check-input" type="checkbox" id="cbJ" name="cbJ"{{ form.cbJ }} ผ่าน
                            <label for="cJd"> ชั้น จื่อซัน</label>
                            {{form.cJd}}  
                          </div>
                          <div class="col-md-3">
                            <label for="cJl"> สถานธรรม</label>
                            {{form.cJl}}                   
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <label for="cPt1"> ตั้งปณิธาน ข้อที่ 1</label>
                            {{form.cPt1}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPt2"> ข้อที่ 2</label>
                            {{form.cPt2}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPt3"> ข้อที่ 3</label>
                            {{form.cPt3}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPt4"> ข้อที่ 4</label>
                            {{form.cPt4}}                   
                          </div>
                          <div class="col-md-2">
                            <label for="cPt5"> ข้อที่ 5</label>
                            {{form.cPt5}}                   
                          </div>
                          <div class="col-md-2">
                            <label for="cPt6"> ข้อที่ 6</label>
                            {{form.cPt6}}                   
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <label for="cCd"> 3.ชิงโข่ว (ว/ด/ป)</label>
                            {{form.cCd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cCl"> สถานธรรม</label>
                            {{form.cCl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cCp"> เตี่ยนฉวนซือ</label>
                            {{form.cCp}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cUd"> 4.อุทิศตน (ว/ด/ป)</label>
                            {{form.cUd}}                   
                          </div>
                          <div class="col-md-2">
                            <label for="cUl"> สถานธรรม</label>
                            {{form.cUl}}                   
                          </div>
                          <div class="col-md-2">
                            <label for="cUp"> เตี่ยนฉวนซือ</label>
                            {{form.cUp}}                   
                          </div>
                        </div>
                      </div>
                      <!-- Datail-3 -->
                      <div id="detail-3" class="tab-pane">                      
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <label for="cRd"> 5.ตั้งหัองพระ (ว/ด/ป)</label>
                            {{form.cRd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cRl"> สถานธรรม</label>
                            {{form.cRl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cRp"> เตี่ยนฉวนซือ</label>
                            {{form.cRp}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPd"> 6.เผยแพร่ (ว/ด/ป)</label>
                            {{form.cPd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPl"> สถานธรรม</label>
                            {{form.cPl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPp"> เตี่ยนฉวนซือ</label>
                            {{form.cPp}}  
                          </div>                        
                        </div>                      
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" id="cbJv" name="cbJv"{{ form.cbJv }} ผ่าน
                            <a href="#" data-toggle="modal" data-target="#cJvModal">เจี่ยงเอี๋ยน (ว/ด/ป)</a>
                            {{form.cJvd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cJvl"> สถานธรรม</label>
                            {{form.cJvl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cJvp"> เตี่ยนฉวนซือ</label>
                            {{form.cJvp}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cTjd"> ถันจู่ (ว/ด/ป)</label>
                            {{form.cTjd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cTjl"> สถานธรรม</label>
                            {{form.cTjl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cTjp"> เตี่ยนฉวนซือ</label>
                            {{form.cTjp}}  
                          </div>                        
                        </div>
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" id="cbJc" name="cbJc"{{ form.cbJc }} ผ่าน
                            <a href="#" data-toggle="modal" data-target="#cJcModal">เจี่ยงซือ (ว/ด/ป)</a>
                            {{form.cJcd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cJcl"> สถานธรรม</label>
                            {{form.cJcl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cJcp"> เตี่ยนฉวนซือ</label>
                            {{form.cJcp}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPrd"> ต.ฉ.ซ (ว/ด/ป)</label>
                            {{form.cPrd}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPrl"> สถานธรรม</label>
                            {{form.cPrl}}  
                          </div>
                          <div class="col-md-2">
                            <label for="cPrp"> เตี่ยนฉวนซือ (ทำพิธี)</label>
                            {{form.cPrp}}  
                          </div>                        
                        </div> 
                        <div class="row mb-3">
                          <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" id="cbReview" name="cbReview"{{ form.cbReview }} ผ่าน
                            <label for="cbReview"> ชั้น ทบทวน</label>
                            <div class="row ml-1">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cReviewModal">
                                More Detail
                              </button>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" id="cbAdv" name="cbAdv"{{ form.cbAdv }} ผ่าน
                            <label for="cbAdv"> ชั้น พระสูตร</label>
                            <div class="row ml-1">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cAdvModal">
                                More Detail
                              </button>
                            </div>
                          </div>
                          <div class="col-md-2">
                             
                          </div>
                          <div class="col-md-2">
                             
                          </div>
                          <div class="col-md-2">
                             
                          </div>
                          <div class="col-md-2">
                            <input class="form-check-input" type="checkbox" id="cbDd" name="cbDd"{{ form.cbDd }}
                            <label for="cbDd" style="color:red;"> วันที่เสียชืวิต (ว/ด/ป)</label>
                            {{form.cDd}}  
                          </div>
                        </div>                     
                      </div>
                      <!-- Datail-4 -->
                      <div id="detail-4" class="tab-pane">                     
                        <div class="row mb-3">
                          <div class="col-md-6 mb-3">
                            <label for="cJv_detail"> รายละเอียดชั้น เจี่ยงเอี๋ยน</label>
                            {{form.cJv_detail}}  
                          </div>
                          <div class="col-md-6 mb-3">
                            <label for="cJv_detail"> รายละเอียดชั้น เจี่ยงซือ</label>
                            {{form.cJc_detail}}  
                          </div>
                          <div class="col-md-6">
                            <label for="cReview_detail"> รายละเอียดชั้น ทบทวน</label>
                            {{form.cReview_detail}}  
                          </div>
                          <div class="col-md-6">
                            <label for="cAdv_detail"> รายละเอียดชั้น พระสูตร</label>
                            {{form.cAdv_detail}}  
                          </div>
                                           
                        </div>                      
                      </div>
                  </div>
              </div>
           </div>
           <div class="row">
            <div class="col-md-8">
               <button type="submit" class="btn btn-success btn-block btn-lg"><i class='fa fa-database'  style="font-size:20px"></i>
                    Submit</button>
            </div>
            <div class="col-md-4">
                <a href="/{{id_room}}" class="btn btn-secondary btn-block btn-lg">
                    <i class="fa fa-mail-reply" style="font-size:20px"></i> Back to list
                </a>
            </div>
          </div>
          
      </form>      
    </div>
  </div>
</main>
<!-- cJvModal -->
<div class="modal" id="cJvModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">ประวัติการเข้าชั้นเจี่ยงเอี๋ยน</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {{ form.cJv_detail }}  
      </div>              
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>      
    </div>
  </div>
</div>
<!-- cJcModal -->
<div class="modal" id="cJcModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">ประวัติการเข้าชั้นเจี่ยงซือ</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {{ form.cJc_detail }}  
      </div>              
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>      
    </div>
  </div>
</div>
<!-- cReviewModall -->
<div class="modal" id="cReviewModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">ประวัติการเข้าชั้น ทบทวน</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {{ form.cReview_detail }}  
      </div>              
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>      
    </div>
  </div>
</div>
<!-- cAdvModall -->
<div class="modal" id="cAdvModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">ประวัติการเข้าชั้น พระสูตร</h3>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>      
      <!-- Modal body -->
      <div class="modal-body">
        {{ form.cAdv_detail }}  
      </div>              
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>      
    </div>
  </div>
</div>

<script>

</script>

{% endblock main_content %} 

{% block custom_js %}
<!-- datepicker -->
<link href="{% static 'datepicker/css/datepicker3.css' %}" rel="stylesheet"/>
<script src="{% static 'datepicker/js/jquery.min.js' %}"></script>
<script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'datepicker/js/bootstrap-datepicker.th.js' %}"></script>

<!-- sweetalert -->
<link rel="stylesheet" type="text/css" href="{% static 'sweet-alert/sweet-alert.css' %}">
<script src="{% static 'sweet-alert/sweet-alert.min.js' %}"></script>

<script>
  // datepicker
  $(document).ready(function(){
      $.fn.datepicker.defaults.language = 'th';
      $('#datepicker').datepicker();
  });
  // sweet-alert
  // {% for msg in messages %}
      swal('{{ msg }}');
  // {% endfor %}
</script>

{% endblock custom_js %}