{% extends 'layouts/base_all.html' %}

{% block title %} Admin_home | {% endblock title %}

{% block main_content %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> ระบบฐานข้อมูลกลาง</h1>
      <p>สำหรับผู้บริหาร ระบบกลาง</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">ระบบกลาง</a></li>
    </ul>
  </div>
</main>

{% endblock main_content %}

{% block custom_js %}

{% endblock custom_js %}